.App {
    text-align: center;
}

.App-header {
    background-color: #d9d9d9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.content > * {
    padding-bottom: 100px;
}

.link-changed, .link-changed:visited, .link-changed:hover {
    text-decoration: none;
    color: blue;
}

* {
    user-select: none;
}

.AccordionDetails-text {
    font-size: 0.6em;
    text-align: left;
}
